{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td> <b> {{ cashFooter | usd }} </b> </td>
            </tr>
        </tfoot>
        <tbody>
             {% for stock in register %}              
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name  }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.total | usd }}</td>
                </tr>
                {% endfor %}  
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
